.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;

  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: hsl(214, 3%, 51%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: hwb(108 19% 18%);
}

.social-login {
  margin-top: 20px;
}

.google-button {
  width: 100%;
  padding: 10px;
  background-color: #a5aca4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-button:hover {
  background-color: #47da0c;
}

.create-account {
  margin-top: 20px;
}

.create-account p {
  color: #007bff;
  cursor: pointer;
}

.create-account p:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-bottom: 15px;
}
.password-group {
  position: relative;
}

.password-input-container {
  position: relative;
}

.password-input-container input {
  width: 100%;
  padding-right: 40px; /* Add space for the eye icon */
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

.password-toggle:hover {
  color: #333;
}
